<template name="appBody">
  
  <!-- //////////////////////////////////////////////////////////////////////////// -->
  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
      {{> sidebar}}
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START CONTENT -->
      <section id="content">

        <!--start container-->
        <div class="container">
          <div class="section">

            {{> folderActions}}

            {{#if isEqual currentRouteName 'folder'}}
            <form class="new-bookmark">
              <input type="text" name="bookmark" placeholder="Click to add a new URL address" />
            </form>
            {{/if}}
            
            {{#if Template.subscriptionsReady}}                   
            <div id="grid">
              {{#each bookmarks}}        
                {{> bookmark}}
              {{/each}}
            </div>
            {{else}}
              {{> loader}}
            {{/if}}

          </div>

          <!-- Floating Action Button -->
          {{> newBookmark}}
          <!-- Floating Action Button end -->

        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      {{> editPanel selectedBookmark=selectedBookmark}}
    </div>
    <!-- END WRAPPER -->
  </div>
  <!-- END MAIN -->
  
</template>