  .folder-users {
    @include transform(translateY(-50%));
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 18px;
    display: inline-block;
    float: right;
    z-index: 99;
    > li {
      display: inline-block;
      margin-left: .5em;
      &.connected {
        opacity: 1;
        .react-gravatar {
          opacity: 1;
        }
      }
      .react-gravatar,
      .add-new {
        @include transition;
        border-radius: $base-border-radius;
        width: 30px;
        height: 30px;
        opacity: .7;
      }
      .add-new {
        @include transition;
        opacity: 1;
        display: block;
        position: relative;
        border: 1px solid rgba(#fff, .5);
        color: rgba(#fff, .5);
        line-height: 1em;
        font-size: .9em;
        .fa {
          @include transform(translate(-50%, -50%));
          position: absolute;
          top: 50%;
          left: 50%;
        }
        &:hover {
          color: #fff;
          border-color: #fff;
        }
        .btn-text {
          @include media($small-screen-down) {
            display: none;
          }
        }
      }
      .drop-down {
        top: 100%;
        right: 0;

        .users-list {
          list-style: none;
          padding: 0;
          display: inline-block;
          li {
            float: left;
          }
          li + li {
              margin-left: 5px;
          }
        }
      }
    }
    .avatar-appear {
      opacity: 0.01;
    }
    .avatar-appear.avatar-appear-active {
      @include transition(opacity .5s ease-in);
      opacity: 1;
    }
    .avatar-enter {
      opacity: 0.01;
    }
    .avatar-enter.avatar-enter-active {
      @include transition(opacity 500ms ease-in);
      opacity: 1;
    }
    .avatar-leave {
      opacity: 1;
    }
    .avatar-leave.avatar-leave-active {
      @include transition(opacity 300ms ease-in);
      opacity: 0.01;
    }
  }
