.tooltip {
  z-index: 1001;
  pointer-events: none;
  transition: opacity .1s ease-out;
  opacity: 0;
  background: #636363;
  color: #f3f3f3;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid white;

  &.hide {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}