form label.error {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
  color: lighten( red, 20% );
}

form .checkbox-wrapper {
  text-align: right;
}

form label {
    font-size: 12px;
}

form input[type=checkbox] {
    width: auto !important;
    vertical-align: middle;
}
