<template name="signin">
  <div class="outer-container">
    <div class="inner-container">

      <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
          <form class="login-form">
            <div class="row">
              <div class="input-field col s12 center">  
                <h4>Sign In</h4>          
                <p class="center login-form-text">Welcome back</p>
              </div>
            </div>
            {{#if errorMessages}}
              <div class="list-errors">
                {{#each errorMessages}}
                  <div class="list-item center-align red white-text">{{this}}</div>
                {{/each}}
              </div>
            {{/if}}
            <div class="row margin">
              <div class="input-field col s12 {{errorClass 'email'}}">
                <i class="mdi-social-person-outline prefix"></i>
                <input name="email" type="text" placeholder="Your email">
                <label for="email" class="center-align active">Email</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12 {{errorClass 'password'}}">
                <i class="mdi-action-lock-outline prefix"></i>
                <input name="password" type="password" placeholder="Your password">
                <label for="password" class="active">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">            
                <button type="submit" class="btn waves-effect waves-light light-blue col s12">Login</button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a href="{{pathFor 'register'}}">Register Now!</a></p>
              </div>          
            </div>
          </form>
        </div>
      </div>
    
    </div>
  </div>
</template>
