<template name="signup">
  <div class="outer-container">
    <div class="inner-container">

      <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
          <form class="login-form">
            <div class="row">
              <div class="input-field col s12 center">
                <h4>Register</h4>
                <p class="center">Join to our community now !</p>
              </div>
            </div>
            {{#if errorMessages}}
              <div class="list-errors">
                {{#each errorMessages}}
                  <div class="list-item center-align red white-text">{{this}}</div>
                {{/each}}
              </div>
            {{/if}}
            <div class="row margin">
              <div class="input-field col s12 {{errorClass 'email'}}">
                <i class="mdi-communication-email prefix"></i>
                <input name="email" type="email">
                <label for="email" class="center-align">Email</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12 {{errorClass 'password'}}">
                <i class="mdi-action-lock-outline prefix"></i>
                <input name="password" type="password">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12 {{errorClass 'confirm'}}">
                <i class="mdi-action-lock-outline prefix"></i>
                <input name="password-again" type="password">
                <label for="password-again">Password Confirm</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">            
                <button type="submit" class="btn waves-effect waves-light light-blue col s12">Register Now</button>
              </div>
              <div class="input-field col s12">
                <p class="margin center medium-small sign-up">Already have an account? <a href="{{pathFor 'signin'}}">Sign In</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>      
</template>